<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.survey">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/survey"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen.StartScreen"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".LoginAndSignUpScreen.LoginActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".UserProfileScreen.UserProfileActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".UserProfileScreen.SettingActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".AddNewSurvey.AddSurveyActivity"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".AnswerSurvey.AnswerSurvey"
            android:theme="@style/FullScreenTheme"/>
    </application>

</manifest>